PORT=3000
SITE_URL=http://localhost:3000
SESSION_SECRET=change-me-please-in-production
INITIAL_ADMIN_LOGIN=admin
INITIAL_ADMIN_PASSWORD=admin123
NODE_ENV=development
DATA_DIR=data
UPLOADS_DIR=uploads
